body {
	background-color:#3678C9;
	color: #ffffff; 
}
/* .mainMsg {
  display: table;
  width: 100%;
  height: 100%;
}
.mainMsg .msg {
	display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.mainMsg .msg .contentMsg {
	font-size: 1.5rem;
}
.mainMsg .msg .contentFirst {
	font-size: 1.5rem;
} */
